.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 5px;
    font-size: larger;

}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.btn{
    height: 50px;
    width: 100px;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    color: whitesmoke;
    background-color: green;
    cursor: pointer;
}